{% extends 'admin/base_site.html' %}
{% block content %}
    <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload Categories</button>

    </form>
{% endblock %}