{% extends 'admin/change_list.html' %}
{% block object-tools %}

    <form method="get" action="delete-products/">
        {% csrf_token %}
        <button type="submit" class="btn btn-sm btn-submit">Delete Products</button>
    </form>

    <a href="import-csv/">Import CSV</a>

{% endblock %}